html,
body {
  margin: 0;
  padding: 40px 0 0 0;
  box-sizing: border-box;
  font-family: helvetica;
  background-color: black;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  padding: 20px;
}
