html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  background-color: black;
  backface-visibility: hidden;
  height: 1080px;
  width: 1920px;
  overflow: hidden;
}

body {
  padding: 80px 20px 20px 20px;
}

* {
  box-sizing: border-box;
}

#app {
  overflow: hidden;
  position: absolute;
  height: 980px;
  width: 1880px;
}
